<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quyet.banhang.admin_app_ban_hang">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Quản lý Bán Hàng"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.ThongKeActivity"></activity>
        <activity android:name=".ui.activity.DetailsBillActivity" />
        <activity android:name=".ui.activity.DonHangActivity" />
        <activity android:name=".ui.activity.NhapDuLieuActivity" />
        <activity android:name=".ui.activity.KhoActivity" />
        <activity android:name=".ui.activity.AddBannerActivity" />
        <activity android:name=".ui.activity.AddNotification" />
        <activity android:name=".ui.activity.AddCategoryActivity" />
        <activity android:name=".ui.activity.AddProductActivity" />
        <activity android:name=".ui.activity.SanPhamActivity" />
        <activity android:name=".ui.activity.ForgetPasswrodActivity" />
        <activity android:name=".ui.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".ui.activity.CategoryActivity" />
    </application>

</manifest>